@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swa');
body {
    background-color: lightcyan;
    font-family: 'Roboto mono', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 2em;
}

.header {
    background-color: #ffffff;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
}

h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    background-color: tomato;
    transition: all 1s;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.drawing img {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 0.5%;
    padding: 0.5em;
    border: lightseagreen;
    border-style: solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.population img {
    max-height: 10em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 70%;
}




  @keyframes moveImage {
      100% {
        transform: translateX(calc(100vw + 350px));
      }
  }

a {
    color: tomato;
}

time {
    font-size: 0.9em;
    font-weight: 700;
}

address {
    font-size: 0.7em;
    font-weight: 700;
}

.white {
    background-color: #ffffff;
}

.green {
    background-color: #b3fab3;
}

.pink {
    background-color: #eecaf1;
}

.aqua {
    background-color: #49e1ce;
}

.progressText {
    font-size: 0.5em;
    font-weight: 800;
    text-align: right;
    display: none;
}

.progressBg {
    background-color: #8FD8D4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3em;
}

.progress {
    background-color: lightseagreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.3em;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

.titleBar {
    background-color: tomato;
    position: fixed;
    top: 0.2em;
    left: 0;
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    display: none;
}

.yearBar {
    background-color: white;
    position: fixed;
    top: 2.3em;
    left: 0;
    width: 100%;
    height: 1.4em;
    overflow: hidden;
    font-size: 0.8em;
    display: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
    padding-right: 0.2em;
}

.nav a {
    display: inline-block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.box {
    width: auto;
}

.moment {
    height: 95%;
    font-size: 1.2em;
    padding: 1em;
    -o-transition: all 10s;
    -moz-transition: all 10s;
    -webkit-transition: all 10s;
    transition: all 10s;
}

.moment img {
    max-width: 95%;
    
}

article footer {
    font-size: 0.7em;
    margin-top: 0.5em;
}

footer {
    font-size: 0.8em;
    margin-top: 1.5em;
}

.second {
    align-self: auto;
    margin: auto;
    max-width: 100%;
}

@media screen and (min-width: 50em) {
    .header {
        background-color: #ffffff;
        padding: 1.5em;
        text-align: center;
        font-size: 2em;
    }
    .momentlayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .moment img {
        max-width: 80%;
    }
    @media screen and (min-width: 90em) {
        h1 {
            font-size: 2.5em;
        }
        .masthead img {
            max-width: 80%;
        }
        .masthead p {
            width: 60%;
        }
        .moment img {
            max-width: 70%;
        }
    }
}